.top-body{
  width: 100%;
  height: 400px;
  background-image: image-url("/default-images/3c2448e7829710ba7dc0f3743f101219.png");
  background-size: cover;
  background-position: center;
  z-index: -1;

  .top-color{
    position: absolute;
    width: 100%;
    height: 400px;
    background: linear-gradient(249deg, rgba(38,43,43,0.6909138655462185) 34%, rgba(31,32,32,0.8057598039215687) 100%);
    z-index: 0;
  }


  .toptitle{
    position: relative;
    color: white;
    max-width: 400px;
    height: 220px;
    margin: 0 auto;
    text-align: center;
    font-size: 100px;
    z-index: 3;
  }
}


.top-body2{
  position: relative;
  z-index: 10;
  padding: 50px 30px;
}
.top-body2::before{
  content: "";
  position: absolute;
  z-index: -1;
  content: '';
  left:0;
  top: 0;
  transform: skewY(-5deg);
  transform-origin: bottom left;
  z-index: -2;
  width: 100%;
  height: 400px;
  background-image: image-url("/default-images/0c017346-169181.jpg");
  background-size: cover;
  background-position: center;
}

.top-body2::after{
  content: "";
  position: absolute;
  z-index: -1;
  content: '';
  left:0;
  top: 0;
  transform: skewY(-5deg);
  transform-origin: bottom left;
  z-index: -2;
  width: 100%;
  height: 400px;
  background: linear-gradient(249deg, rgba(38,43,43,0.09987745098039214) 59%, rgba(31,32,32,1) 100%);
}

.top-content{
  max-width: 900px;
  height: 300px;
  margin: 400px auto 0 auto;
  font-size: 80px;
  opacity: 0;
  text-align: center;
  transform: translateY(100px);
  transition: 2s;

  .signup-box{
    width: 600px;
    height: 150px;
    margin: 20px auto 0 auto;
    border-radius: 10px;
    display: flex;

    .signup-font{
      font-size: 50px;
      color: black;
      margin-left: 100px;
      padding-top: 20px;
      box-sizing: border-box;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .signup-btn{
      width: 100px;
      height: 100px;
      background-color: rgba(13, 26, 204, 0.911);
      border-radius: 50%;
      margin-left: 30px;
      transition: 0.7s;
      box-sizing: border-box;
      padding: 20px 0 0 40px;

      .btn-triangle{
        width: 0;
        height: 0;
        border-width: 30px;
        border-style: solid;
        border-color: transparent transparent transparent white;
        }
    }

    .signup-btn:hover{
        background-color: rgba(214, 27, 27, 0.911);
    }
  }
}

.top-content2{
  max-width: 900px;
  height: 300px;
  margin: 50px auto 0 auto;
  font-size: 80px;
  text-align: center;
  opacity: 0;
  transform: translateY(150px);
  transition: 2.5s;

  .signup-box{
    width: 600px;
    height: 100px;
    margin: 20px auto 0 auto;
    border-radius: 10px;
    display: flex;

    .signup-font{
      font-size: 50px;
      color: black;
      margin-left: 100px;
      padding-top: 20px;
      box-sizing: border-box;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .signup-btn{
      width: 100px;
      height: 100px;
      background-color: rgba(13, 26, 204, 0.911);
      border-radius: 50%;
      margin-left: 30px;
      transition: 0.7s;
      box-sizing: border-box;
      padding: 20px 0 0 40px;

      .btn-triangle{
        width: 0;
        height: 0;
        border-width: 30px;
        border-style: solid;
        border-color: transparent transparent transparent white;
        }
    }

    .signup-btn:hover{
        background-color: rgba(214, 27, 27, 0.911);
    }
  }
}