.header
  .header__left
    Anitwe
  .header__right
    .header__right__triangle
    = link_to "sign_up", new_user_registration_path, class: "header-list top-hover"
    -# .header-list.top-hover sign_up
    .header__right__triangle
    .header-list.top-hover login
    .header__right__triangle
    .header-list.top-hover list