.top
  .top-body
    = render "homes/header"
    .toptitle
      Anime Tweet
  .top-body2
  .top-content
    さぁ　今すぐ始めよう！
    .signup-box
      .signup-font
        signup
      .signup-btn
        .btn-triangle