.signup-wrpper{
  background: linear-gradient(50deg, rgb(118, 218, 114), rgb(79, 181, 240));
  height: 100vh;
  width: 100vw;


  .signup-header{
    width: 100vw;
    height: 200px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    text-align: center;
    line-height: 200px;
  }

  .signup-box{
    width: 600px;
    border: solid 1px rgba(48, 44, 44, 0.329);
    background-color: white;
    margin: 0 auto;
    border-radius: 5px;

    .signup-text{
      font-size: 30px;
      margin: 20px 0 0 20px;
    }

    .signupfield{
      width: 400px;
      height: 50px;
      margin-left: 20px;
      border-radius: 5px;
      border-color: rgba(65, 62, 62, 0.493);
      padding: 0 0 0 10px;
    }

    .submit{
      display: block;
      width: 200px;
      height: 60px;
      margin: 30px auto 20px auto;
      border: none;
      border-radius: 10px;
      color: white;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      background: radial-gradient(rgb(11, 68, 224), rgba(0, 38, 255, 0.849), rgb(13, 141, 226));
    }
  }
}